<!doctype html>
<html>
<head>
    {{#if INCLUDE_BASE}}
    <base href="/">
    {{/if}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="format-detection" content="telephone=no">
    <title>{{title}}</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' blob:; worker-src blob:; frame-src https://www.google.com/recaptcha/; script-src https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/ https://www.googletagmanager.com/ https://www.google-analytics.com 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' *; font-src 'self' data: https://at.alicdn.com; img-src 'self' data: https://www.googletagmanager.com https://www.google-analytics.com https://stats.g.doubleclick.net https://crypto-bridge.org https://wallet.crypto-bridge.org {{walletUrl}}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        body {
            background-color: #2a2a2a
        }
        @-webkit-keyframes rotate {
            from { -webkit-transform: rotate(0deg) }
            to { -webkit-transform: rotate(360deg) }
        }
        @-moz-keyframes rotate {
            from { -moz-transform: rotate(0deg) }
            to { -moz-transform: rotate(360deg) }
        }
        @-o-keyframes rotate {
            from { -o-transform: rotate(0deg) }
            to { -o-transform: rotate(180deg) }
        }
        @-ms-keyframes rotate {
            from { -ms-transform: rotate(0deg) }
            to { -ms-transform: rotate(360deg) }
        }
    </style>
    {{#if ELECTRON}}
        <script>
            var ref = encodeURIComponent(document.referrer);
            if (window.process && window.process.versions && window.process.versions['electron']) {
                window.electron = window.process.versions['electron'];
                window.remote = require('electron').remote;
                window._$guid$_ = window.remote.getGlobal('guid');
                window.app_version = window.remote.getGlobal('version');
                ref = 'lw-' + window.process.platform + '-' + window.app_version + '-' + window.remote.getGlobal('guid');
                window.onload = function(e){
                    var content = document.getElementById("content");
                    if (content) content.className = "electron " + window.process.platform;
                }
            }
        </script>
    {{/if}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113295938-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113295938-1');
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc0_24UAAAAAMeIOfCvvzGGBv6beUgykZ3y-z2D"></script>
</head>
<body>
    <main id="content"></main>
    <div id="cb-modal"></div>
</body>
</html>
