.asset-image {
    .ant-select &,
    .ant-select-dropdown-menu & {
        margin-right: 0.5rem;
    }

    .deposit-button & {
        max-width: 60%;
        max-height: 60%;
        margin-right: 0.5rem;
        opacity: 0.75;
    }
}
