.footer {
    .newVersion {
        .icon {
            > svg {
                margin-top: 2px;
                float: left;
                margin-right: 1rem;
                width: 2.1rem;
                height: 2.1rem;
            }
        }

        .imprint {
            color: $warning-color;
        }
    }

    .imprint {
        list-style: none;
        margin: 0;

        > li {
            padding: 0;
            line-height: 1;
            float: left;

            + li {
                margin-left: 0.5rem;
            }
        }
    }
}
